<a href="https://colab.research.google.com/github/689itzjack/Data-Science/blob/main/Iterators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ITERATOR EN TUPLES**

In [ ]:
def iterate_tuple(): 
    """
    Example function for iterating over a tuple
    """
    my_tuple = ('Sunday', 'Monday', 'Tuesday') 
    my_iterator = iter(my_tuple)
    print(my_iterator)
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    # ***print(next(my_iterator)) # Note - no more elements, an error will occur

    # or, using a loop:
    print('\nUsing a loop:')
    for x in my_tuple:
        print(x)

iterate_tuple() #CALLING TO THE FUNCTION

EN ESTA FUNCION IMPRIMIMOS UNA TUPLA POR MEDIO DE UN ITERATOR. PODEMOS VOLVER UNA TUPLA INTERABLE POR MEDIO DE LA FUNCION my_iterator = iter(my_tuple) GUARDANDOLA EN LA VARIABLE my_iterator, DE ESTA FORMA LE PODEMOS APLICAR CIERTAS FUNCIONES ITERABLES A LA VARIABLE COMO next(my_iterator) E IMPRIMIR EL CONTENIDO DE LA TUPLA CADA VEZ QUE AVANCEMOS. 
NOTA: SI ACTIVAMOS EL ITERATOR MAS VECES QUE EL TAMANO DE LA TUPLA ENTONCES NOS VA A DAR ERROR (LINEA VERDE ***). 
PODEMOS ITERAR EN UNA TUPLA POR MEDIO DE UNA LULAA O LOOP Y ASI TAMBN IMPRIMIR EL CONTENIDO DE LA TUPLA.

In [26]:
my_tuple = ('Sunday', 'Monday', 'Tuesday') 
for i in range(len(my_tuple)): # list
   t = my_tuple[i]
   print(i,t)

0 Sunday
1 Monday
2 Tuesday

SI QUEREMOS IMPRIMIR UNA TUPLE CON INDICES

# **ITERATOR EN LIST**

In [ ]:
def iterate_list():
    """
    Example function for iterating over a list
    """
    my_list = ['Sunday', 'Monday', 'Tuesday']
    my_iterator = iter(my_list)
    print(my_iterator)
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    # print(next(my_iterator)) # Note - no more elements, error will occur

    # or, using a loop:
    print('\nUsing a loop:')
    for x in my_list:
        print(x)

iterate_list() # CALLING TO THE FUNCTION

APLICA LO MISMO QUE EN LAS TUPLAS

# **ITERATOR EN STRINGS**

In [ ]:
def iterate_str():
    my_str = 'Example'
    my_iterator = iter(my_str)

    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    print(next(my_iterator))
    # print(next(my_iterator)) #  invalid call

    # or, using a loop:
    print('\nUsing a loop:')
    for x in my_str:
        print(x)

iterate_str() # CALLING TO THE FUNCTION

APLICA LO MISMO QUE EN LAS TUPLAS

# **FUNCION ZIP**

**LAS ESTRUCTURAS DE DATOS SON DEL MISMO TAMANO**

In [16]:
# Let us define two iterable objects, e.g. 2 lists:
l1 = ['A', 'B', 'C']
l2 = ['a', 'b', 'c']

# zip() returns an iterator over tuples
for t in zip(l1, l2):
    print(t)  # the next tuple is printed

('A', 'a')
('B', 'b')
('C', 'c')

ZIP ES UNA FUNCION ITERABLE LA CUAL RECIBE COMO PARAMETROS 2 O MAS ESTRUCTURAS DE DATOS (YA SEA LISTAS, TUPLES, SET O DICC) Y GUARDA SUS DATOS DE CADA ESTRUCTURA EN GRUPOS DE TUPLAS DEACUERDO A EL ORDEN EN EL QUE ESTAN GUARDADOS SUS PROPIAS ESTRUCTURAS

In [20]:
for i in range(len(l1)): # list
   t = l1[i]
   print(i,t)

0 A
1 B
2 C

ESTA ES UNA FORMA EN COMO IMPRIMIR UNA LISTA CON INDICES PARA CADA ELEMENTO PERO EN OCACIONES NO ES POSIBLE HACERLO DE ESTA FORMA, COMO POR EJEMPLO:

In [21]:
for t in zip(l1, l2):
     print(t)  # the next tuple is printed

('A', 'a')
('B', 'b')
('C', 'c')

COMO PODEMOS VER CADA ITERACCION SE IMPRIME UN ELEMENTO DE LA TUPLA (CONFORMADA POR 2 ELEMENTOS DE 2 LISTAS)

In [ ]:
#for t in range(len(zip(l1, l2))):
 #    print(t, zip[t])

SI ITENTAMOS CORRER ESTO de arriba NOS DARIA ERROR PORQ ZIP NO TIENE TAMANO DEFINIDO DESD EL PRINCIPIO, SI NO QUE SE VA FORMANDO DEACUERDO A LA EJECUCION DELL PROGRAMA. SI QUEREMOS IMPRIMIR INDICES CON EL CONTENIDO DE UNA TUPLA HECHA POR LA FUNCION ZIP, TENEMOS 2 OPCIONES SOLO:

OPCION 1: 
CON LA FUNCION enumerate PODEMOS DEFINIR INDEX PARA LA TUPLA HECHA POR LA FUNCION ZIP

In [27]:
for i, t in enumerate(zip(l1, l2)):
    print(i, t)  # the next tuple is printed

0 ('A', 'a')
1 ('B', 'b')
2 ('C', 'c')

OPCION 2: POR MEDIO DE UN COUNTER.

In [29]:
i = 0
for t in zip(l1, l2):
     print(i,t)  # the next tuple is printed
     i += 1

0 ('A', 'a')
1 ('B', 'b')
2 ('C', 'c')

TENEMOS LA POSIBILIDAD DE UNIR (HACER ZIP) MAS DE 2 ESTUCTURAS DE DATOS CON DIFERENTE TIPO DE DATOS:

In [31]:
l3 = [1, 2, 3]
t4 = (10, 20, 30)  # This is a tuple, while l1, l2 & l3 are lists
for t in zip(l1, l2, l3, t4):
    print(t)  # the next tuple is printed

s5 = 'str'  # This is a String
for t in zip(l1, l2,  l3, t4, s5):
    print(t)  # the next tuple is printed

('A', 'a', 1, 10)
('B', 'b', 2, 20)
('C', 'c', 3, 30)
('A', 'a', 1, 10, 's')
('B', 'b', 2, 20, 't')
('C', 'c', 3, 30, 'r')

**QUE PASA SI LA ESTRUCTURAS DE DATOS NO SON DEL MISMO TAMANO ???**

In [32]:
# Note:  zip() stops aggregating elements once the shortest iterable
# passed to it is done. Thus in the following example,
# 4 & 5 are ignored and only three tuples are created
for i, t in enumerate(zip([1, 2, 3], [11, 12, 13, 14, 15])):
    print(i, t)

0 (1, 11)
1 (2, 12)
2 (3, 13)

LA FUNCION ZIP NOS LIMITA Y SOLO PONE LA CANTIDAD DE DATOS DE TODAS LAS ESTRUCTURAS, LA MAS PEQUENA.

# **FUNCION MAP**

LA FUNCION MAP RECIBE 2 PARAMETROS:
1. UNA FUNCION A SER EJECUTADA
2. UNA ESTRUCTURA DE DATOS ITERABLE

SI QUIESIERAMOS OBTENER EL LARGO DE LOS STIRNGS DE UNA ESTRUCTURA DE MANERA NATURAL HICIERAMOS LO SIGUIENTE:

In [ ]:
str_list = ['this', 'is', 'an', 'example', '!']
for s in str_list:
  print(len(s))

PERO CON LA FUNCION MAP() PODEMOS ACTIVAR UNA FUNCION DETERMINADA SOBRE UNA ESTRUCTURA, POR EJEMPLO:

In [ ]:
str_list = ['this', 'is', 'an', 'example', '!']
for i in map(len, str_list):
    print(i)

AQUI TENEMOS UNA ESTRUCTURA LLAMADA str_list QUE CONTIENE STRINGS Y SOBRE CADA ELEMENTO DE LA ESTRUCTURA LE ACTIVAMOS LA FUNCION len() DE STRINGS. LA FUNCION NOS DEVUELVE EL RESULTADO Y LO IMPRIMIMOS.

In [ ]:
print(list(map(len, str_list)))

ESTA ES OTRA FORMA DE HACER MAP PERO ESTA VEZ PONIENDO LOS RESULTADOS EN UNA LISTA.

**QUE IMPRIME ESTA FUNCION ???**

In [33]:
def combined_demo_list():
    """
    A combined example using map & zip
    :return:
    """
    print(list(map(sum, zip([0, 1, 2], [10, 9, 12]))))

combined_demo_list()

[10, 10, 14]

1. PRIMERAMENTE EJECUTA LA FUNCION ZIP SOBRE LAS 2 ESTRUCTURAS DE DATOS(LISTAS) Y OBTENEMOS UNA SERIE DE TUPLAS (0,10)(1,9)(2,12)
2. LA FUNCION MAP ACTIVA LA FUNCION SUM DE SU PARAMETRO SOBRE LA SERIE DE TUPLES OBTENIDOS DE LA FUNCION ZIP
3. AL FINAL OBTENEMOS UNA LISTA D LOS RESULTADOS DE LA SUMA DE CADA TUPLE Y SE IMPRIME TODA LA LISTA

In [37]:
for res in zip([0, 1, 2], [10, 9, 12]):
  print(res)

(0, 10)
(1, 9)
(2, 12)

DE ESTA FORMA IMPRIMIMOS LOS REULTADOS DE LA FUNCION ZIP