<a href="https://colab.research.google.com/github/689itzjack/Data-Science/blob/main/thePandasModuleLociLoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LEYENDO LAS TABLAS .CSV DLE DRIVE**

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import os
students_file = '/content/gdrive/My Drive/Introduction to Data Science/trial.csv'
assert(os.path.exists(students_file)) #  sanity check
df_students = pd.read_csv(students_file)
df_students

Mounted at /content/gdrive

   NOMBRE  APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
0   JORGE  CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
1    OMAR    GAMBOA        PEON               NaN         PUEBLA    24
2  MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
3    JAYA     RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
4    JANA    GAMBOA      MELAVA              SECU        YAGUARU   100

**CAMBIANDO EL INDICE NUMERICO A INDICE DE DATA (EL INDICE ES UNA DETERMINADA COLUMNA)**

In [5]:
students_file = '/content/gdrive/My Drive/Introduction to Data Science/trial.csv'
df2 = pd.read_csv(students_file, index_col=0)  # Selecting the Name column to be the index
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

CUANDO ESTAMOS LEEYENDO EL ARCHIVO .CSV Y COMO PARAMETRO LE MANDAMOS ALA FUNCION index_col=0 COMO PARAMETRO, ENTONCES LOS INDICES NUMERICOS SE BORRAN Y EL NOMBRE PASA A SER EL INDICE PRINCIPAL.

In [ ]:
df3 = df2.copy() #COPIAMOS LA TABLA df2 EN LA VARUABLE df3
df4 = df3.set_index('APELLIDO') #CAMBIAMOS EL INDICE DEL NOMBRE POR EL APELLIDO
df4

           OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
APELLIDO
CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
GAMBOA          PEON               NaN         PUEBLA    24
JIMENES   ESTUDIANTE            KINDER         MANILA    25
RIERA            NaN       PRREESCOLAR  TANGAMANDAPIO    50
GAMBOA        MELAVA              SECU        YAGUARU   100

DE ESTA MANERA CAMBIAMOS EL INDICE DE NOMBRE POR LA COLUMNA APELLIDO

In [ ]:
df3_sorted = df3.sort_values(by = ['NOMBRE'])
df3_sorted

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
OMAR      GAMBOA        PEON               NaN         PUEBLA    24

ORDENAMOS LOS INDICES EN ORDEN ALFABETICO PARA TENER UN CIERTO ORDEN Y PODER LLAMAR A LOS ELEMENTOS EN ORDEN

# **LLAMAR A LOS ELEMENTOS DEACUERDO AL INDICE NUEVO**

In [ ]:
index = df_students.index #NOS MUESTRA LOS INDICES DE LA TABLA
index

RangeIndex(start=0, stop=5, step=1)

PODEMOS VER QUE SI LLAMAMOS ALA TABLA ORIGINAL, SUS INDICES SON NUMERICOS con saltos de uno en uno

In [ ]:
index_names = df3_sorted.index #NOS MUESTRA LOS INDICES DE LA TABLA
index_names

Index(['JANA', 'JAYA', 'JORGE', 'MIRIAM', 'OMAR'], dtype='object', name='NOMBRE')

PODEMOS OBSERVAR AQUI QUE LOS INDICES SON LOS NOMBRES NO NUMERICOS Y QUE PERTENECEN ALA COLUMNA "NOMBRE"

In [ ]:
columns = df2.columns  # Note that 'name' is not one of the columns now. NOS MESTRA LAS COLUMNAS
columns

Index(['APELLIDO', 'OCUPACION', 'GRADO_PREPARACION', 'CUIDAD', 'EDAD'], dtype='object')

PODEMOS OBSERVAR QUE AL VER CUALES SON LOS AMUDIM, NO NOS SALE LA AMUDA NOMBRE, ESTO ES A CAUSE DE QUE LA COLUMNA DE "NOMBRE" LA CONVERTIMOS EN INDEX.

In [ ]:
values = df2.values #OBTENER LOS DATOS DE LLA TABLA
values

array([['CASTILLO', 'ESTUDIANTE', 'UNIVERSIDAD', nan, 23],
       ['GAMBOA', 'PEON', nan, 'PUEBLA', 24],
       ['JIMENES', 'ESTUDIANTE', 'KINDER', 'MANILA', 25],
       ['RIERA', nan, 'PRREESCOLAR', 'TANGAMANDAPIO', 50],
       ['GAMBOA', 'MELAVA', 'SECU', 'YAGUARU', 100]], dtype=object)

OBTUVIMOS EL CONTENIDO DE LA TABLA. LA COLUMNA D E NOMBRES NO APARECE PORQ ES LA DE LOS INDICES DE LA TABLA.

In [ ]:
type(index)

pandas.core.indexes.range.RangeIndex

podemos ver QUE LOS INDICES NUMERICOS DE LA TABLA df_students SON DE TIPO pandas Y SON UN RANGO DE NUMEROS

In [ ]:
type(index_names)

pandas.core.indexes.base.Index

AQUI PODEMOS VER QUE TAMBN ES DE TIPO PANDAS PERO EL TOJEN DE LOS INDEX ES DIFERENTE, OSEA SON STRINGS.

In [ ]:
type(columns)

pandas.core.indexes.base.Index

PODEMOS OBSERVAR QUE EL TYP DE index_names Y EL TIPO DE columns ES EL MISMO. EN OTRAS PALABRAS LA VARIABLE columns TAMBIEN SON DE TIPO DE INDICES Y DE PUEDE ACCEDER A ELLOS COMO UN INDICE.

In [ ]:
type(values)

numpy.ndarray

PODEMOS VER QUE EL CONTENIDO DE LA TABLA ES DE TIPO ARRAY, OSEA QUE SE PODRIA ACCEDER A ELLOS COMO ALOS ARRAY

# **COMO OBTENER DATOS DE LA TABLA**

***PRIMERO INCIAMOS CON NOMBRE_DE_LATABLA[ ]***

In [ ]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

COMO YA VIMOS ANTERIORMENTE, LOS INDICES PASARON A SER DE NUMERICOS A LOS NOMBRES DE LOS ESTUDIANTES

In [ ]:
df2['OCUPACION']

NOMBRE
JORGE     ESTUDIANTE
OMAR            PEON
MIRIAM    ESTUDIANTE
JAYA             NaN
JANA          MELAVA
Name: OCUPACION, dtype: object

AHORA SE APRECIA QUE LOS INDICES SON LOS NOMBRES DEL ALUMNO Y LA INFROMACION QUE PEDIMOS ES EL NOMBRE D ELA COLUMNA 'OCUPACION'

In [ ]:
type(df2['OCUPACION'])

pandas.core.series.Series

PODEMOS OBSERVAR QUE EL TYPO DE LA COLUMNA QUE SELECCIONAMOS PARA SU INFORMACION ES DE TIPO SERIES DELA LIBRERIA PANDAS

In [ ]:
print(df2['OCUPACION'].index)
df2.index

Index(['JORGE', 'OMAR', 'MIRIAM', 'JAYA', 'JANA'], dtype='object', name='NOMBRE')

Index(['JORGE', 'OMAR', 'MIRIAM', 'JAYA', 'JANA'], dtype='object', name='NOMBRE')

PODEMOS VER QUE EXISTEN 2 MANERAS PARA VER LOS INDICES DE LA TABLA EN EL COMMANDO ANTERIOR

In [ ]:
df2['OCUPACION'].values #obtiene los valores de la columna 'OCUPACION' retornandonos un array con la info

array(['ESTUDIANTE', 'PEON', 'ESTUDIANTE', nan, 'MELAVA'], dtype=object)

podemos VER QU EL RESULTADO AL OBTENER LOS VALORES DE LA COLUMNA ES DE TIPO ARRAY. ESTO QUIERE DECIR QUE EL ARRAY LO PODEMOS GUARDAR EN UNA VARIABLE Y LUEGO OBTENER LA INFORMACION COMO CON UN ARRAY

In [ ]:
print(type(df2['OCUPACION']))
df2['OCUPACION']

<class 'pandas.core.series.Series'>

NOMBRE
JORGE     ESTUDIANTE
OMAR            PEON
MIRIAM    ESTUDIANTE
JAYA             NaN
JANA          MELAVA
Name: OCUPACION, dtype: object

AQUI PODEMOS OBSERVAR QUE DE ESTA FORMA PODEMOS OBTENER LA INFORMACION POR MEDIO DE OBJETO, OSEA QUE LA INFO ESTA ENCAPSULADA EN FORMA DE OBJETO del tipo SERIES

# **SELECCIONAR MULTIPLES COLUMNAS PARA OBTENER INFO**

In [ ]:
print(df2)

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [ ]:
print(type(df2[['APELLIDO', 'GRADO_PREPARACION', 'EDAD']]))
df2[['APELLIDO', 'GRADO_PREPARACION', 'EDAD']]

<class 'pandas.core.frame.DataFrame'>

        APELLIDO GRADO_PREPARACION  EDAD
NOMBRE
JORGE   CASTILLO       UNIVERSIDAD    23
OMAR      GAMBOA               NaN    24
MIRIAM   JIMENES            KINDER    25
JAYA       RIERA       PRREESCOLAR    50
JANA      GAMBOA              SECU   100

PODEMOS OBTENER 1 O MAS COLUMNAS DE UN JALE, PONIENDOLAS EN FORMA DE LISTA entre [ ]. EL TIPO DEL RESULTADO ES UN DATAFRAME. INCLUSO PODEMOS OBTENER UNA COLUMNA Y DE TODAS FORMAS EL TIPO ES DATA FRAME.

In [ ]:
df2[['EDAD','GRADO_PREPARACION','APELLIDO']]

        EDAD GRADO_PREPARACION  APELLIDO
NOMBRE
JORGE     23       UNIVERSIDAD  CASTILLO
OMAR      24               NaN    GAMBOA
MIRIAM    25            KINDER   JIMENES
JAYA      50       PRREESCOLAR     RIERA
JANA     100              SECU    GAMBOA

INCLUSO PODEMOS REVERTIR EL ORDEN DE LA TABLA O NUESTRO GUSTO.

# **USO DE loc[ ]**

PODEMOS USAR [ ] PARA OBTENER LA INFORMACION DE UNA HILERA DE LA TABLA PERO NO ES RECOMENDABLE. PARA ESTEOBJETIVO USAMOS LA FUNCION loc[ ]. CON ESTA FUNCION PODEMOS OBTENER UNA HILERA PARA OBTENER INFORMACION D ELLA.

CON loc[ ] CAMBIAMOS LA PERSPECTIVA, AHORA LOS NOMBRES DE LAS COLUMNAS SON LOS INDICES Y LOS NOMBRES DE LAS HILERAS SON COMO LAS COLUMNAS.

In [ ]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [ ]:
print(df2.loc['OMAR'])
print()
df2.loc['OMAR'].index

APELLIDO             GAMBOA
OCUPACION              PEON
GRADO_PREPARACION       NaN
CUIDAD               PUEBLA
EDAD                     24
Name: OMAR, dtype: object

Index(['APELLIDO', 'OCUPACION', 'GRADO_PREPARACION', 'CUIDAD', 'EDAD'], dtype='object')

PODEMOS APRECIAR QUE AHORA LOS INDICES SON LOS NOMBRES DE LAAS COLUMNAS y el resultado es el contenido de toda la hilera q seleccionamos.(SIN LOC EL RESULTADO Q OBTENEMOS ES EL CONTENIDO DE TODA LA COLUMNA SELECCIONADA Y LOS INDICES SON LOS NOMBRES DE LAS HILERAS, PODEMOS SABERLO POR MEDIO DEL COMANDO "df2.loc['OMAR'].index").

In [ ]:
df2.loc['OMAR'].values #OBTENEMOS LOS VALORES DE UNA HILERA EN UN ARRAY

array(['GAMBOA', 'PEON', nan, 'PUEBLA', 24], dtype=object)

DE ESTA MANERA OBTENEMOS LOS VALORES DE LA HILERA 'OMAR' EN FORMA DE ARRAY

**QUE PASA EN EL CASO DEL DEFAULT INDEX? OSEA CUANDO LOS INDICES SON NUMEROS**

In [ ]:
df_students

   NOMBRE  APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
0   JORGE  CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
1    OMAR    GAMBOA        PEON               NaN         PUEBLA    24
2  MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
3    JAYA     RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
4    JANA    GAMBOA      MELAVA              SECU        YAGUARU   100

In [ ]:
sorted_by_name = df_students.sort_values(by='NOMBRE')
print(sorted_by_name)
print(sorted_by_name.loc[1])

   NOMBRE  APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
4    JANA    GAMBOA      MELAVA              SECU        YAGUARU   100
3    JAYA     RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
0   JORGE  CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
2  MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
1    OMAR    GAMBOA        PEON               NaN         PUEBLA    24
NOMBRE                 OMAR
APELLIDO             GAMBOA
OCUPACION              PEON
GRADO_PREPARACION       NaN
CUIDAD               PUEBLA
EDAD                     24
Name: 1, dtype: object

DE LA MISMA FORMA OBTENEMOS LA INFRMACION DE LOS DATOS DE LA HILERA CON EL INDICE 1 DEACUERDO ALOS INDICES QUE SON LOS NOMBRES DE LAS COLUMNAS.

In [ ]:
sorted_by_name.loc[1].values

array(['OMAR', 'GAMBOA', 'PEON', nan, 'PUEBLA', 24], dtype=object)

AL IGUAL PODEMOS OBTENER SOLO EL CONTENIDO DE LA HILERA CON DICHO INDICE NUMERICO SIN LOS INDICES QUE SON LOS NOMBRES DE LAS COLUMNAS.

In [ ]:
sorted_by_name.loc[1].index

Index(['NOMBRE', 'APELLIDO', 'OCUPACION', 'GRADO_PREPARACION', 'CUIDAD',
       'EDAD'],
      dtype='object')

EN ESTE CASO CON LOS INDICES NUMERICOS, EN LOS INDICES DE LAS CULUMNAS ESTA INCLUIDO TAMBIEN 'NOMBRE' OSEA QUE 'NOMBRE ES PARTE DEL CONTENIDO DE LA TABLA Y NO ES COLUMNA DE INDICES'.

# **COMO SELECCIONAR VARIAS HILERAS CON loc[ ]?**

AL IGUAL QUE CUANDO LOS INDDICES SON NUMERICOS, TAMBIEN CUANDO SON INDICES DE STRINGS LO HACEMOS EN FORMA DE LISTA PERO CON LA FUNCIO LOC[ ].

In [49]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [48]:
df2.loc[['JORGE', 'JAYA']] #OBTENEMOS LAS HILERAS JORGE Y JAYA

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50

DE ESTE MOSDO PODEMOS OBTENER MAS DE UNA HILERA ALA VEZ.

In [51]:
type(df2.loc[['JORGE', 'JAYA']])

pandas.core.frame.DataFrame

EL TIPO QUE RECIBIMOS DE LA PKUDA DE ARRIBA TAMBN ES DATA FRAME (TABLA)

In [53]:
df2.loc[['JORGE', 'JAYA']].values

array([['CASTILLO', 'ESTUDIANTE', 'UNIVERSIDAD', nan, 23],
       ['RIERA', nan, 'PRREESCOLAR', 'TANGAMANDAPIO', 50]], dtype=object)

PODEMOS OBTENER SOLAMENTE LA DATA DE ESTAS 2 HILERAS DENTRO DE UN ARRAY

**PODEMOS OBTENER VARIAS HILERAS EN UN RANGO ESPECIFICO (es como usar for each)**

In [54]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [55]:
df2['OMAR':'JAYA']

       APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
OMAR     GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM  JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA      RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50

DE ESTA MANERA PODEMOS OBTENER TODAS LAS HILERAS QUE ESTAN ENTRE OMAR Y JAYA INCLUYENDOLOS

# **SELECCIONAR HILERAS Y COLUMNAS AL MISMO TIEMPO USANDO loc[ ].**

PODEMOS SELECCIONAR QUE INFORMACION QUEREMOS ESPECIFICAMENTE ESCOGIENDO EL NOMBRE DE LAS HILERAS Y DE LAS COLUMNAS QUE DESEAMOS LA INFORMACION.

In [56]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [57]:
df2.loc[['JORGE', 'MIRIAM'],['APELLIDO', 'CUIDAD', 'EDAD']]

        APELLIDO  CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO     NaN    23
MIRIAM   JIMENES  MANILA    25

ASI PODEMOS OBTENER LOS DATOS ESPECIFICOS DE LOS ESTUDIANTES: 
nombre_tabla.loc[[indice1,indice2], [columna1,columna2,columna3]] 
OBTENDREMOS COMO RESULTADO LA INFORMACION ESCRITA EN ESOS CAMPOS.

**HAY DIFERENTES FORMAS DE OBTENER LOS RESULTADOS:**

In [63]:
print(type(df2.loc['OMAR']))
df2.loc['OMAR'] # DE UNA HILERA

<class 'pandas.core.series.Series'>

APELLIDO             GAMBOA
OCUPACION              PEON
GRADO_PREPARACION       NaN
CUIDAD               PUEBLA
EDAD                     24
Name: OMAR, dtype: object

ES DE TIPO SERIES

In [60]:
df2.loc['JAYA',['APELLIDO', 'GRADO_PREPARACION', 'EDAD']] # UNA HILERA(1 ESTUDIANTE) Y VARIAS COLUMNAS

APELLIDO                   RIERA
GRADO_PREPARACION    PRREESCOLAR
EDAD                          50
Name: JAYA, dtype: object

ES DE TIPO SERIES

In [62]:
df2.loc['OMAR':'JAYA',['OCUPACION', 'CUIDAD']] # UN RANGO DE ESTUDIANTES Y 2 O VARIAS COLUMNAS

         OCUPACION         CUIDAD
NOMBRE
OMAR          PEON         PUEBLA
MIRIAM  ESTUDIANTE         MANILA
JAYA           NaN  TANGAMANDAPIO

es de tipo data frame

In [64]:
df2.loc['OMAR':'JAYA','OCUPACION']

NOMBRE
OMAR            PEON
MIRIAM    ESTUDIANTE
JAYA             NaN
Name: OCUPACION, dtype: object

ES DE TIPO SERIES

# **COMO OBTENER UN DATO EN ESPECIFICO DE UN ESTUDIANTE DEACUERDO A UNA COLUMNA CON loc[ ]**

In [65]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [67]:
print(type(df2.loc['MIRIAM','CUIDAD'])) #de tipo string
df2.loc['MIRIAM','CUIDAD'] # NOS DA LA CIUDAD(COLUMNA) DE MIRIAM(INDICE)

<class 'str'>

'MANILA'

# **OBTENER LOS DATOS DE LAS COLUMNAS DE UN RANGO ESPECIFICO EN BASE A UNA O MAS HILERAS ESPECIFICADAS CON loc[ ]**

In [69]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [72]:
df2.loc['MIRIAM','CUIDAD':'OCUPACION':-1]

CUIDAD                   MANILA
GRADO_PREPARACION        KINDER
OCUPACION            ESTUDIANTE
Name: MIRIAM, dtype: object

DE ESTA MANERA OBTENEMOS LOS DATOS DE LA HILERA 'MIRIAM' QUE ESTAN EN EL RANGO DE LAS COLUMNAS CIUDAD-OCUPACION DE FORMA REGRESIVA.

In [73]:
df2.loc[[True, False, True, False,  True]]

        APELLIDO   OCUPACION GRADO_PREPARACION   CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD      NaN    23
MIRIAM   JIMENES  ESTUDIANTE            KINDER   MANILA    25
JANA      GAMBOA      MELAVA              SECU  YAGUARU   100

DE ESTA MANERA TAMBIEN PODEMOS OBTENER LAS HILERAS DEACUERDO AL ORDEN EN EL QUE APARECEN EN LA TABLA ACTUAL EN LA QUE ESTAMOS TRBAJANDO.

In [76]:
names_sorted = df2.sort_values(by='NOMBRE')
print(names_sorted)
names_sorted.loc[[True, False, True, False,  True]]

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
OMAR      GAMBOA        PEON               NaN         PUEBLA    24

        APELLIDO   OCUPACION GRADO_PREPARACION   CUIDAD  EDAD
NOMBRE
JANA      GAMBOA      MELAVA              SECU  YAGUARU   100
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD      NaN    23
OMAR      GAMBOA        PEON               NaN   PUEBLA    24

PODEMOS OBSERVAR QUE EL ORDEN DE ESTA TABLA ES DISTINTO Y SI EFECTAMOS EL ARRAY COMO ARRIBA OBTENEMOS OTROS RESULTADOS.

# **USO DE iloc[ ]**

iloc[ ] LO UTILIZAMOS PARA OBTENER O SACAR UNA HILERA DEACUERDO AL NUMERO DE HILERA, OSEA PARA TRABAJAR CON iloc[ ] necesitamos que los indices sean numeros (como son by default).

In [77]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [ ]:
df2.iloc['OMAR'] # BUSCA LA HILERA OMAR EN LA TABLA df2

EN ESTE EJEMPLO DE ARRIBA LA LINEA NOS VA DAR ERROR PORQUE LA FUNCION iloc[ ] solo recibe numeros enteros y no string

In [7]:
print(df_students)
df_students.iloc[1] # BUSCA LA 1 QUE CONTIENE LA HILERA DEL ESTUDIANTE OMAR EN LA TABLA df_students

   NOMBRE  APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
0   JORGE  CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
1    OMAR    GAMBOA        PEON               NaN         PUEBLA    24
2  MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
3    JAYA     RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
4    JANA    GAMBOA      MELAVA              SECU        YAGUARU   100

NOMBRE                 OMAR
APELLIDO             GAMBOA
OCUPACION              PEON
GRADO_PREPARACION       NaN
CUIDAD               PUEBLA
EDAD                     24
Name: 1, dtype: object

AQUI PODEMOS VER QUE LA FUNCION iloc[ ] la podemos activar INCLUSO CON TABLAS QUE SUS INDICES SON NUMERICOS, SOLAMENTE LA DIFERENCIA ES QUE ACCEDEMOS A LAS HILERAS POR MEDIO DE NUMEROS Y OTRAS POR MEDIO DE STRINGS (DEPENDE SI CAMBIAMOS EL INDEX NUMERICO O NO). 

RECORDEMOS QUE SI EL INDICE ES NUMERICO ENTONCES LA COLUMNA 'NOMBRE' ESTA INCLUIDA DENTRO DE LA TABLA Y PODEMOS ACCEDER AL CONTENIDO DE LA COLUMNA 'NOMBRE'. 

SI EL INDICE NO ES NUMERICO ENTONCES LOS INDICES DE LA TABLA VAN A SER LA COLUMNA 'NOMBRE' Y NO VAMOS A PODER ACCEDER AL CONTENIDO DE ESTA COLUMNA PORQUE SE UTILIZA COMO INDICES DE LA TABLA.

In [8]:
df2.iloc[1] #obtenemos al estudiante OMAR(ES EL INDICE) OSEA SU CONTENIDO

APELLIDO             GAMBOA
OCUPACION              PEON
GRADO_PREPARACION       NaN
CUIDAD               PUEBLA
EDAD                     24
Name: OMAR, dtype: object

# **ACCEDER A VARIAS HILERAS DE LA TABLA CON iloc[ ]**

**Importnat note**: df2.iloc[[0, 2]] gets rows 0 & 2 while df2.iloc[0, 2] gets the value at row 0 and the column 2!

In [9]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [15]:
df2.iloc[0, 2] #EN ESTA LINEA RECIBIMOS LA HILERA 0 (JORGE) Y LA COLUMNA 2 (GRADO_PREPARACION)

'UNIVERSIDAD'

POR MEDIOS D ESTA ACCION PODEMOS OBTENER UN DATO ESPECIFICO DE UNA LISTA, SI PUSIERAMOS OTRO NUMERO NOS DARIA ERROR.

In [13]:
df2.iloc[[0, 2]] # EN ESTA LINEA OBTENEMOS LA HILERA 0 (JORGE) Y LA HILERA 2 (MIRIAM), de esta manera podemos obtener una lista de hileras

        APELLIDO   OCUPACION GRADO_PREPARACION  CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD     NaN    23
MIRIAM   JIMENES  ESTUDIANTE            KINDER  MANILA    25

CADA VEZ QUE QUERAMOS OBTENER hileras por medio de la funcion iloc[ ] necesitamos hacerlo por medios de una lista que contenga dentro el numero de la hileras a extraer

# **EXTRAER varias SHUROT POR MEDIO DEL ITERATOR SLICING QUE TIENE EL FORMATO DIFOULTIVO start:end:jumps (DEFAULT FORMAT) CON iloc[ ]**

In [17]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [16]:
df2.iloc[::2]  # Fetch every second row

        APELLIDO   OCUPACION GRADO_PREPARACION   CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD      NaN    23
MIRIAM   JIMENES  ESTUDIANTE            KINDER   MANILA    25
JANA      GAMBOA      MELAVA              SECU  YAGUARU   100

EL COMMANDO DE ARRIBA ES UN SLICING QUE EJECUTA EL FORMATO DIFULTIVO DE SLICING EN UNA df2 Y EXTRAE LAS HILERAS DE LA TABLA DE 2 EN 2 COMENZANDO DESDE 0 HASTA EL FINAL DE LA TABLA.

# **EXRAER VARIAS HILERAS Y COLUMNAS (APLICANDO SLICING tambien) CON iloc[ ]**

In [18]:
df2

        APELLIDO   OCUPACION GRADO_PREPARACION         CUIDAD  EDAD
NOMBRE
JORGE   CASTILLO  ESTUDIANTE       UNIVERSIDAD            NaN    23
OMAR      GAMBOA        PEON               NaN         PUEBLA    24
MIRIAM   JIMENES  ESTUDIANTE            KINDER         MANILA    25
JAYA       RIERA         NaN       PRREESCOLAR  TANGAMANDAPIO    50
JANA      GAMBOA      MELAVA              SECU        YAGUARU   100

In [19]:
df2.iloc[[1, 3],[0, 1, 4]] # OBTENEMOS LAS HILERAS 1 Y 3 Y LAS COLUMNAS 0 , 1 ,4

       APELLIDO OCUPACION  EDAD
NOMBRE
OMAR     GAMBOA      PEON    24
JAYA      RIERA       NaN    50

EL FORMATO APLICADO EN EL iloc[ ] DE ARRIBA ES .iloc[[hileras],[columnas]]

In [20]:
df2.iloc[1:3,[0, 1, 4]] # OBTENER DATA EMPLEANDO SLICING A LAS HILERAS

       APELLIDO   OCUPACION  EDAD
NOMBRE
OMAR     GAMBOA        PEON    24
MIRIAM  JIMENES  ESTUDIANTE    25

LA LINEA DE ARRIBA EMPLEA SLICING, OSEA NOS DEVUELVE LA INFORMACION QUE SE ENCUENTRA EN LAS HILERAS DE FORMA CONTINUA DEL 1 AL 3(NO INCLUYE 3) Y LAS COLUMNAS DE LA LISTA.

In [21]:
df2.iloc[1:3, 4] # SLICING DE LAS HILERAS SOBRE UNA COLUMNA SOLAMENTE

NOMBRE
OMAR      24
MIRIAM    25
Name: EDAD, dtype: int64

In [22]:
df2.iloc[:, 0] # SLICING EN TODAS LAS HILERAS SOBRE LA COLUMNA 0

NOMBRE
JORGE     CASTILLO
OMAR        GAMBOA
MIRIAM     JIMENES
JAYA         RIERA
JANA        GAMBOA
Name: APELLIDO, dtype: object

PODEMOS USAR EL SLICING PARA PASAR SOBRE TODASLAS HILERAS  DE LA TABLA SOBRE UNA SOLA COLUMNA (PONIENDO SOLO : EN LAS HILERAS)

# **COMO CREAR UN DATA FRAME DE UN DICCIONARIO**

ES MUY UTIL HACER UN DATA FRAME CON LOS DATOS QUE SE CREEAN DURANTE LA EJECUCION DE UN PROGRAMA, PERO MUCHAS VECES ES MUCHO MAS EFICIENTE POR MOTIVOS DE TIEMPO DE EJECUCION USAR UN DICTIONARY(DE PYTHON) EN VEZ DE QUE CADA VEZ AGREGUEMOS AL DATAFRAME registro por registro

In [23]:
import pandas as pd
data = {'Age': [35, 24, 21, 10], 'Name': ['Dana', 'Bina', 'Chana', 'Leah']}
df3 = pd.DataFrame.from_dict(data) # CREATING DATA FRAME
df3

   Age   Name
0   35   Dana
1   24   Bina
2   21  Chana
3   10   Leah

EN LA VARIABLE data TENEMOS UN DICCIONARIO CON 2 KEYS "Age, Name" y sus values de tipo list. LAS keys SON LAS COLUMNAS DEL DATA FRAME Y LOS values SON LA DATA DE LA TABLA.

In [25]:
data = {'Age': [35, 24, 21, 10], 'Name': ['Dana', 'Bina', 'Chana', 'Leah']}
df4 = pd.DataFrame.from_dict(data)
df4

   Age   Name
0   35   Dana
1   24   Bina
2   21  Chana
3   10   Leah

LA VARIABLE data CONTIENE EL DICCIONARIO DESTINADO A SER EL DATA FRAME, DESPUES df4 CONTIENE EL DATAFRAME QUE SE CREO DEL DICCIONARIO ATRAVEZ DE LA FUNCION DE LA LIBRERIA DE PANDAS "pd.DataFrame.from_dict(data)"

**COMO CAMBIAR LOS INDICES NUMERICOS DEFOULTIVOS POR OTRO TIPO DE INDICE SOMO STRINGS?**

In [26]:
df4 = df4.set_index('Name')
df4

       Age
Name
Dana    35
Bina    24
Chana   21
Leah    10

PARA CAMBIAR LOS INDICES DEFAULTIVOS DE UN DATAFRAME OBTENIDO DE UN DICCIONARIO UTILIZAMOS LA FUNCION: 

nombre_tabla = nombre_tabla.set_index('key_diccionary'), CUANDO EL PARAMETRO key_diccionary TIENE QUE SER UN KEY DEL DICCIONARIO.
ENTONCES LA VARIABLE nombre_tabla TIENE LA NUEVA DATAFRAME (TABLA) CON LOS NUEVOS INDICES

DESPUES SE PUEDEN APLICAR LAS FUNCIONS DE UN DATAFRAME CONVENCIONAL ALA NUEVA DATAFRAME OBTENIDA DEL DICCIONARIO COMO:

In [27]:
df4.loc['Dana']

Age    35
Name: Dana, dtype: int64

In [28]:
print(df4.iloc[0])

Age    35
Name: Dana, dtype: int64

**COMO CREAR UNA NUEVA HILERA DE ESTA NUEVA TABLA**



*  PRIMER MODO:

In [ ]:
df4.loc['Yael'] = 7
df4



*   SEGUNDO MODO: HACEMOS OTRA NUEVA TABLA PARA EJEMPLIFICAR MEJOR

In [30]:
data = {'Age': [35, 24, 21, 10], 'Name': ['Dana', 'Bina', 'Chana', 'Leah']}
df5 = pd.DataFrame.from_dict(data)
print(df5)

   Age   Name
0   35   Dana
1   24   Bina
2   21  Chana
3   10   Leah

In [31]:
df5 = df5.append({'Name': 'Yael', 'Age': 7}, ignore_index=True)
df5

   Age   Name
0   35   Dana
1   24   Bina
2   21  Chana
3   10   Leah
4    7   Yael



1.   CREANOS UN DICCIONARIO CON LAS MISMAS KEYS DE LAS AMUDOT DE LA TABLA
2.   LA ACTIVAMOS CON LA FUNCION APPEND() JUNTO CON SU PARAMETRO ignore_index=True 
3. SE CREA LA NUEVA HILERA